.vscode
toolchain/crosstool-ng-*/
toolchain/toolchain-*/
/debug
/mipsel-linux-musl_4.4.x.tar.xz
/tdebug
*.log
/files
/trunk/user/iptables/Makefile.bak
/trunk/user/iptables/temp.txt
*.xz
/trunk/user/adbyby/adbyby
